<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <dataConfiguration defaultDatabase="ConnString"/>
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=EUCSRVDBDEV002.nam.nsroot.net;Initial Catalog=IntelMatch;Persist Security Info=False;Integrated Security=SSPI;Connect Timeout=60" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="10000" />
    <add key="ReleaseVersion" value="V32 29 Nov 2014"/>
    <add key="Upload_Folder" value="~/Uploads/"/>
    <add key="FolderPath" value="Files/"/>
    <add key="Theme" value="FROGlobalAutomatedSolutions"/>
    <add key="iInnovateUrl" value="https://employeeideas.financeandrisk.citigroup.net"/>
    <add key="ReportServerUrl" value="http://eucsrvdbdev002.nam.nsroot.net/ReportServer"/>
    <add key="SOEIDOverride" value=""/>
    <add key="ExceptionsProcName" value="[dbo].[INTER_spInsertException]"/>
    <add key="ExceptionsEmailTo" value="cd25867@imcla.lac.nsroot.net"/>
    <add key="ExceptionsTimeOutServer" value="EUCSRVDBDEV002.nam.nsroot.net"/>
    <add key="ExceptionsTimeOutWaitingTime" value="60 sec"/>
    <!--
        LP56516 (Luis Porras)
        JT51156 (Jose Tioli)
        AV04595 (Ana Villegas)
        FS72185 (Fernando Segura)
        GP07021
      -->
  </appSettings>
</configuration>